.merchant-detail__header {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-sm);
}
.merchant-detail__name {
  font-size: 36px;
  font-weight: 600;
}
.merchant-detail__desc {
  font-size: 26px;
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-sm);
  line-height: 1.6;
}
